# See https://learn.microsoft.com/en-us/windows/wsl/build-custom-distro#add-the-wsl-distribution-configuration-file

[oobe]
command = /usr/libexec/wsl/oobe.sh
defaultUid = ${WSL_DEFAULT_UID}
defaultName = ${WSL_DEFAULT_NAME}
