[kernel]
mode=ubi
image=${KERNEL_IMG}
vol_id=1
vol_type=static
vol_name=kernel
vol_size=16MiB
vol_alignment=1

[oftree]
mode=ubi
image=${DTB_IMG}
vol_id=2
vol_type=static
vol_name=oftree
vol_size=1MiB
vol_alignment=1

[rootfs]
mode=ubi
image=${UBIFS_IMG}
vol_id=3
vol_type=dynamic
vol_name=root
vol_alignment=1
vol_flags=autoresize
