default:
  image: ghcr.io/siemens/kas/kas-isar:4.8.2

variables:
  GIT_STRATEGY: clone

.common-build: &common-build
  stage: build
  variables:
    RUNNER_AFTER_SCRIPT_TIMEOUT: 15m
  before_script:
    - export http_proxy=$HTTP_PROXY
    - export https_proxy=$HTTPS_PROXY
    - export ftp_proxy=$FTP_PROXY
    - export no_proxy=$NO_PROXY
    - export DISTRO_APT_PREMIRRORS=$DISTRO_APT_PREMIRRORS
  after_script:
    - |
      if [[ -n "${SSTATE_LOCATION}" ]] && [[ -d "sstate-cache" ]]; then
        echo "=== Upload sstate artifacts to ${SSTATE_LOCATION} ==="
        ./scripts/isar-sstate --filter '^(?!isar-image-)' upload "sstate-cache" "${SSTATE_LOCATION}"
        ./scripts/isar-sstate info -v "${SSTATE_LOCATION}"
      fi

  artifacts:
    name: "logs-$CI_JOB_ID"
    paths:
      - build/tmp*/work/*/*/*/temp
      - build/job-results
      - build/vm_start
    reports:
      junit:
        - build/job-results/job*/results.xml
    when: always
    expire_in: 1 week


.docker-isar: &docker-isar
  image: ghcr.io/ilbers/docker-isar:4.8.2


.use-default-image:
  rules:
    - &use-default-image
      if: $IMAGE
      when: never

.use-docker-isar-image:
  rules:
    - &use-docker-isar-image
      if: $IMAGE != 'docker-isar'
      when: never


dev-ci:
  <<: *common-build
  rules:
    - *use-default-image
    - if: $TESTSUITE == 'dev' || $CI_PIPELINE_SOURCE != 'schedule'
  script:
    - scripts/ci_build.sh --sstate 1 -T dev

fast-ci:
  <<: *common-build
  rules:
    - *use-default-image
    - if: $TESTSUITE == 'fast'
  script:
    - scripts/ci_build.sh --sstate 1 -T fast

full-ci:
  <<: *common-build
  rules:
    - *use-default-image
    - if: $TESTSUITE == null && $CI_PIPELINE_SOURCE == 'schedule'
    - if: $TESTSUITE == 'full'
  script:
    - PREVIOUS_SHA="$(cat .CI_COMMIT_SHA || true)"
    - if [ "$CI_COMMIT_SHA" != "$PREVIOUS_SHA" ]; then
          echo "$CI_COMMIT_SHA" > .CI_COMMIT_SHA;
          scripts/ci_build.sh --sstate 1 -T full;
      fi
  cache:
    key: "$CI_COMMIT_REF_SLUG"
    paths:
      - .CI_COMMIT_SHA


dev-ci-isar:
  <<: *docker-isar
  <<: *common-build
  rules:
    - *use-docker-isar-image
    - if: $TESTSUITE == 'dev'
  script:
    - scripts/ci_build.sh --sstate 1 -T dev

fast-ci-isar:
  <<: *docker-isar
  <<: *common-build
  rules:
    - *use-docker-isar-image
    - if: $TESTSUITE == 'fast'
  script:
    - scripts/ci_build.sh --sstate 1 -T fast

full-ci-isar:
  <<: *docker-isar
  <<: *common-build
  rules:
    - *use-docker-isar-image
    - if: $TESTSUITE == 'full'
  script:
    - scripts/ci_build.sh --sstate 1 -T full

sstate-cache-info:
  stage: build
  when: manual
  script:
    - ./scripts/isar-sstate info -v "${SSTATE_LOCATION}"

sstate-cache-clean:
  stage: build
  when: manual
  variables:
    SSTATE_MAX_AGE: "0d"
  script:
    - ./scripts/isar-sstate clean "${SSTATE_LOCATION}" --max-age "${SSTATE_MAX_AGE}"
