Source: ${PN}
Section: misc
Priority: optional
Standards-Version: 3.9.6
Maintainer: Unknown maintainer <unknown@example.com>
Build-Depends: debhelper (>= 10), ${DEBIAN_BUILD_DEPENDS}

Package: ${PN}
Architecture: any
Depends:
Description: TCG reference implementation of the TPM 2.0 Specification.
