[Unit]
Description=Regenerate sshd host keys
DefaultDependencies=no
Conflicts=shutdown.target
After=systemd-remount-fs.service
Before=shutdown.target ssh.service
ConditionPathIsReadWrite=/etc

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/bin/ssh-keygen -A
StandardOutput=syslog
StandardError=syslog

[Install]
WantedBy=sysinit.target
