# This software is a part of Isar.
# Copyright (C) 2023-2024 ilbers GmbH
#
# SPDX-License-Identifier: MIT
#
# Authors:
#  Uladzimir Bely <ubely@ilbers.de>

menu "Distro selection"

config DISTRO_DEBIAN
	bool

config DISTRO_RASPIOS
	bool

config DISTRO_UBUNTU
	bool

config CODENAME_BUSTER
	bool

config CODENAME_BULLSEYE
	bool

config CODENAME_BOOKWORM
	bool

config CODENAME_TRIXIE
	bool

config CODENAME_SID
	bool

config CODENAME_FOCAL
	bool

config CODENAME_JAMMY
	bool

config CODENAME_NOBLE
	bool

choice
	prompt "Distro selection"
	default DEBIAN_BOOKWORM

config DEBIAN_BUSTER
	bool "Debian 10 (buster)"
	depends on (DISTRO_DEBIAN && CODENAME_BUSTER) || ANY_MACHINE_DISTRO

config DEBIAN_BULLSEYE
	bool "Debian 11 (bullseye)"
	depends on (DISTRO_DEBIAN && CODENAME_BULLSEYE) || ANY_MACHINE_DISTRO

config DEBIAN_BOOKWORM
	bool "Debian 12 (bookworm)"
	depends on (DISTRO_DEBIAN && CODENAME_BOOKWORM) || ANY_MACHINE_DISTRO

config DEBIAN_TRIXIE
	bool "Debian 13 (trixie)"
	depends on (DISTRO_DEBIAN && CODENAME_TRIXIE) || ANY_MACHINE_DISTRO

config DEBIAN_SID
	bool "Debian Sid (unstable)"
	depends on (DISTRO_DEBIAN && CODENAME_SID) || ANY_MACHINE_DISTRO

config RASPIOS_BULLSEYE
	bool "Raspberry Pi OS Debian 11 (bullseye)"
	depends on (DISTRO_RASPIOS && CODENAME_BULLSEYE) || ANY_MACHINE_DISTRO

config RASPIOS_BOOKWORM
	bool "Raspberry Pi OS Debian 12 (bookworm)"
	depends on (DISTRO_RASPIOS && CODENAME_BOOKWORM) || ANY_MACHINE_DISTRO

config UBUNTU_FOCAL
	bool "Ubuntu 20.04 (Focal)"
	depends on (DISTRO_UBUNTU && CODENAME_FOCAL) || ANY_MACHINE_DISTRO

config UBUNTU_JAMMY
	bool "Ubuntu 22.04 (Jammy)"
	depends on (DISTRO_UBUNTU && CODENAME_JAMMY) || ANY_MACHINE_DISTRO

config UBUNTU_NOBLE
	bool "Ubuntu 24.04 (Noble)"
	depends on (DISTRO_UBUNTU && CODENAME_NOBLE) || ANY_MACHINE_DISTRO

endchoice

config ANY_MACHINE_DISTRO
	bool "Allow any machine-distro combinations"
	default n
	help
	  This allows to select any machine-distro combinations some of which
	  may be not bootable or even buildable.

config KAS_INCLUDE_DISTRO
	string
	default "kas/distro/debian-buster.yaml" if DEBIAN_BUSTER
	default "kas/distro/debian-bullseye.yaml" if DEBIAN_BULLSEYE
	default "kas/distro/debian-bookworm.yaml" if DEBIAN_BOOKWORM
	default "kas/distro/debian-trixie.yaml" if DEBIAN_TRIXIE
	default "kas/distro/debian-sid.yaml" if DEBIAN_SID
	default "kas/distro/raspios-bullseye.yaml" if RASPIOS_BULLSEYE
	default "kas/distro/raspios-bookworm.yaml" if RASPIOS_BOOKWORM
	default "kas/distro/ubuntu-focal.yaml" if UBUNTU_FOCAL
	default "kas/distro/ubuntu-jammy.yaml" if UBUNTU_JAMMY
	default "kas/distro/ubuntu-noble.yaml" if UBUNTU_NOBLE

endmenu
