# This software is a part of Isar.
# Copyright (C) 2023-2024 ilbers GmbH
#
# Authors:
#  Uladzimir Bely <ubely@ilbers.de>

menu "Distro selection"

choice
	prompt "Distro selection"
	default DEBIAN_BOOKWORM

config DEBIAN_BUSTER
	bool "Debian 10 (buster)"

config DEBIAN_BULLSEYE
	bool "Debian 11 (bullseye)"

config DEBIAN_BOOKWORM
	bool "Debian 12 (bookworm)"

config DEBIAN_SID
	bool "Debian Sid (unstable)"

config RASPIOS_BULLSEYE
	bool "Raspberry Pi OS Debian 11 (bullseye)"

config RASPIOS_BOOKWORM
	bool "Raspberry Pi OS Debian 12 (bookworm)"

config UBUNTU_FOCAL
	bool "Ubuntu 20.04 (Focal)"

config UBUNTU_JAMMY
	bool "Ubuntu 22.04 (Jammy)"

endchoice

config KAS_INCLUDE_DISTRO
	string
	default "kas/distro/debian-buster.yaml" if DEBIAN_BUSTER
	default "kas/distro/debian-bullseye.yaml" if DEBIAN_BULLSEYE
	default "kas/distro/debian-bookworm.yaml" if DEBIAN_BOOKWORM
	default "kas/distro/debian-sid.yaml" if DEBIAN_SID
	default "kas/distro/raspios-bullseye.yaml" if RASPIOS_BULLSEYE
	default "kas/distro/raspios-bookworm.yaml" if RASPIOS_BOOKWORM
	default "kas/distro/ubuntu-focal.yaml" if UBUNTU_FOCAL
	default "kas/distro/ubuntu-jammy.yaml" if UBUNTU_JAMMY

endmenu
