Source: ${BPN}
Section: admin
Priority: optional
Standards-Version: ${DEBIAN_STANDARDS_VERSION}
Build-Depends: debhelper-compat (= ${DEBIAN_COMPAT}), ${DEBIAN_BUILD_DEPENDS}
Maintainer: ISAR project <isar-users@googlegroups.com>
Rules-Requires-Root: no

Package: u-boot-${MACHINE}
Architecture: ${DISTRO_ARCH}
Description: ${DESCRIPTION}, bootloader binaries

Package: u-boot-${MACHINE}-dev
Architecture: ${DISTRO_ARCH}
Description: ${DESCRIPTION}, bootloader libraries
