# LAYER_CONF_VERSION is increased each time build/conf/bblayers.conf
# changes incompatibly
LCONF_VERSION = "6"

BBPATH = "${TOPDIR}"
BBFILES ?= ""

BBLAYERS ?= " \
  ##ISARROOT##/meta-isar \
  "
BBLAYERS_NON_REMOVABLE ?= " \
  ##ISARROOT##/meta \
  "
