#!/bin/sh
#
# Copyright (c) Siemens AG, 2024
#
# Authors:
#  Jan Kiszka <jan.kiszka@siemens.com>
#
# SPDX-License-Identifier: MIT
#

set -e

prereqs()
{
	echo "${SCRIPT_PREREQ}"
}

case $1 in
prereqs)
	prereqs
	exit 0
	;;
esac

. /scripts/functions

