# This software is a part of ISAR.
# Copyright (C) 2023 ilbers GmbH
#
# Authors:
#  Uladzimir Bely <ubely@ilbers.de>

menu "Image type selection"

choice
	prompt "Image type selection"
	default IMAGE_BASE

config IMAGE_BASE
	bool "Base image"
	help
	  This is the basic Isar image with bare minimum of preinstalled packages.
	  It's technically close do the debootstrapped system with packages
	  required to boot up the system.

config IMAGE_DEBUG
	bool "Debug image"
	help
	  This image includes some tools preinstalled useful for debug.

config IMAGE_CI
	bool "CI image"
	select PACKAGE_SSHD_REGEN_KEYS
	select PACKAGE_ISAR_CI_SSH_SETUP
	help
	  This image includes is for running CI. Via isar-ci-ssh-setup recipe.
	  It creates ci user with non-interactive ssh access to the board.

config IMAGE_INSTALLER
	bool "Installer image"
	help
	  This image contains a target image and scripts to install the target image on a device.

endchoice

if IMAGE_INSTALLER

choice
	prompt "Image to install"
	default INSTALL_IMAGE_BASE

config INSTALL_IMAGE_BASE
	bool "Base image"
	help
	  Embed the basic Isar image into the installer image.

config INSTALL_IMAGE_DEBUG
	bool "Debug image"
	help
	  Embed the Isar debug image into the installer image.

config INSTALL_EMPTY
	bool "No installer payload"
	help
	  This will generate a installer image without payload. The user of
	  that image needs then to copy a image to the partition labeled
	  INSTALLDATA.

endchoice

config INSTALLER_TARGET_IMAGE
	string
	default "isar-image-base" if INSTALL_IMAGE_BASE
	default "isar-image-base" if INSTALL_IMAGE_DEBUG

config INSTALL_UNATTENDED
	bool "Run installer unattended"

if INSTALL_UNATTENDED

config INSTALLER_UNATTENDED
	string
	default "1" if INSTALL_UNATTENDED
	default ""

config INSTALLER_TARGET_DEVICE
	string "Target device to deploy"
	default "/dev/sda"
	help
	  Device to deploy the image onto.
	  Leave this empty to get prompted during installation
	  Examples: /dev/sda, /dev/nvme0n1

choice
	prompt "Overwrite handling"
	default OPT_INSTALLER_TARGET_OVERWRITE

config OPT_INSTALLER_TARGET_OVERWRITE
	bool "Overwrite if target is not empty"

config OPT_INSTALLER_TARGET_ABORT
	bool "Abort if target is not empty"

endchoice

config INSTALLER_TARGET_OVERWRITE
    string
    default "OVERWRITE" if OPT_INSTALLER_TARGET_OVERWRITE
    default "ABORT" if OPT_INSTALLER_TARGET_ABORT

endif

endif

config KAS_INCLUDE_IMAGE
	string
	default "kas/image/isar-image-base.yaml" if IMAGE_BASE
	default "kas/image/isar-image-debug.yaml" if IMAGE_DEBUG
	default "kas/image/isar-image-ci.yaml" if IMAGE_CI
	default "kas/image/isar-image-installer.yaml" if IMAGE_INSTALLER

endmenu
