Source: ${BPN}
Section: kernel
Priority: optional
Maintainer: ${MAINTAINER}
Build-Depends: debhelper-compat (= ${DEBIAN_COMPAT}), bc, kmod, cpio, ${KBUILD_DEPENDS}
Homepage: http://www.kernel.org/
Rules-Requires-Root: no

Package: linux-image-${KERNEL_NAME_PROVIDED}
Build-Profiles: <pkg.${BPN}.kernel>
Architecture: any
Depends: ${KERNEL_DEBIAN_DEPENDS}
Description: ${KERNEL_NAME_PROVIDED} Linux kernel, version @KR@
 This package contains the Linux kernel, modules and corresponding other
 files, version: @KR@.

Package: linux-headers-${KERNEL_NAME_PROVIDED}
Build-Profiles: <pkg.${BPN}.kernel>
Architecture: any
Depends: ${KERNEL_HEADERS_DEBIAN_DEPENDS}, ${perl:Depends}, ${shlibs:Depends}
Description: ${KERNEL_NAME_PROVIDED} Linux kernel headers for @KR@
 This package provides kernel header files for @KR@ on ${DISTRO_ARCH}
 .
 This is useful for people who need to build external modules

Package: linux-libc-dev
Build-Profiles: <!pkg.${BPN}.nolibcdev pkg.${BPN}.kernel>
Section: devel
Provides: linux-kernel-headers
Architecture: ${KERNEL_LIBC_DEV_ARCH}
Description: Linux support headers for userspace development
 This package provides userspaces headers from the Linux kernel. These headers
 are used by the installed headers for GNU glibc and other system libraries.

Package: linux-libc-dev-${DISTRO_ARCH}-cross
Build-Profiles: <!pkg.${BPN}.nolibcdev pkg.${BPN}.cross !pkg.${BPN}.kbuild>
Section: devel
Provides: linux-kernel-headers-${DISTRO_ARCH}-cross
Architecture: all
Multi-Arch: foreign
Description: Linux Kernel Headers for development (for cross-compiling)
 This package provides headers from the Linux kernel.  These headers
 are used by the installed headers for GNU glibc and other system
 libraries. They are NOT meant to be used to build third-party modules for
 your kernel. Use linux-headers-* packages for that.

Package: linux-image-${KERNEL_NAME_PROVIDED}-dbg
Build-Profiles: <pkg.${BPN}.kernel>
Section: debug
Architecture: any
Description: Linux kernel debugging symbols for @KR@
 This package will come in handy if you need to debug the kernel. It provides
 all the necessary debug symbols for the kernel and its modules.

Package: linux-kbuild-${KERNEL_NAME_PROVIDED}
Build-Profiles: <pkg.${BPN}.kbuild !pkg.${BPN}.cross>
Architecture: any
Depends: ${perl:Depends}, ${shlibs:Depends}
Description: ${KERNEL_NAME_PROVIDED} Linux kbuild scripts and tools for @KR@
 This package provides kernel kbuild scripts and tools for @KR@
 This is useful for people who need to build external modules

Package: linux-kbuild-${KERNEL_NAME_PROVIDED}-${DISTRO_ARCH}-cross
Build-Profiles: <pkg.${BPN}.kbuild pkg.${BPN}.cross>
Architecture: any
Multi-Arch: foreign
Depends: ${perl:Depends}, ${shlibs:Depends}
Conflicts: linux-kbuild-${KERNEL_NAME_PROVIDED}
Description: ${KERNEL_NAME_PROVIDED} Linux kbuild scripts and tools for @KR@
 This package provides kernel kbuild scripts and tools for @KR@
 This is useful for people who need to build external modules
