#!/bin/sh
set -e

if ! grep -q 'root:\*:' /etc/shadow; then
    echo "ERROR:isar-cfg-rootpw: root password was set by a different package" >&2
    exit -1
fi

if [ -n '${CFG_ROOT_PW}' ]; then
    echo 'root:${CFG_ROOT_PW}' | chpasswd -e
else
    passwd -d root
fi

if [ '${CFG_ROOT_LOCKED}' = "1" ]; then
    # Lock the account after setting the password, since unlocking it at some
    # point later would set it to the back to the previous one.
    passwd -l root
fi
