Source: ${PN}
Section: kernel
Priority: optional
Standards-Version: 3.9.6
Build-Depends: debhelper-compat (= ${DEBIAN_COMPAT}), ${DEBIAN_BUILD_DEPENDS}
Maintainer: ${MAINTAINER}

Package: ${PN}
Architecture: any
Depends: ${KERNEL_IMAGE_PKG}, kmod
Description: ${DESCRIPTION}
