# CONFIG_BAREBOXENV_TARGET is not set
# CONFIG_BAREBOXCRC32_TARGET is not set
# CONFIG_KERNEL_INSTALL_TARGET is not set
# CONFIG_IMD_TARGET is not set
CONFIG_DEFAULT_ENVIRONMENT_PATH="${BAREBOX_ENV}"
